@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
      max-width: 960px !important;
    }
    .custom-container {
      @apply container mx-auto px-3 md:px-6 lg:px-12;
    }
    h1 {
      @apply text-4xl;
      @apply font-thin;
    }
    h2 {
      @apply text-3xl;
      @apply font-thin;
    }
    h3 {
      @apply text-2xl font-thin;
    }
    h4 {
      @apply text-xl;
      @apply font-thin;
    }
    h5 {
      @apply text-lg;
      @apply font-thin;
    }
    p {
      font-size: 16px;
      /* font-family: 'IBM Plex Sans Arabic'; */
      line-height: 1.7em;
    }
    body {
      font-family: 'Noto Naskh Arabic';
      background-color: #fff;
    }

.bg-primary {
        background-color: #fcda68;
        color: #444;
    }
.bg-secondary {
        background-color: #b9f2fe;
        color: #444;
    }
  }
  


  
  
  
@layer components {
      .social-icon {
          @apply bg-gray-100 rounded-full w-9 h-9 pt-1.5 align-middle text-center text-xl text-gray-600;
      }

.md-content pre {
          direction: ltr;
          text-align: left;
          /* font-family: 'Roboto'; */
/* background-color: lightpink;
font-family: 'Roboto';
padding: 6px 12px;
margin-right: 6px;
margin-left: 6px; */
      }

.md-content a {
          text-decoration: underline;
          color: blue;
      }

.md-content p > code {
          background-color: rgba(255, 161, 210, 0.60);
          padding: 0.3em 0.5em;
          text-align: left;
          direction: ltr;
          @apply rounded;
      }

.md-content figure {
          margin-bottom: 1em;
      }

.md-content figcaption {
          margin-left: auto;
          margin-right: auto;
          color: #777;
          font-size: 11px;
          text-align: center;
          display: block;
          font-weight: 600;
      }

.md-content figcaption::before {
          content: '['
      }

.md-content figcaption::after {
          content: ']'
      }
  }